/* background #003242 */
* {
  font-family: 'Montserrat', sans-serif;
}
/* 
#003242 — bright cyan blue

 —#006f94 light sky blue  */

.containers {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


body {
    margin: 0px;
    padding: 0px;
}

.icon {
    color: #f4c203;
    font-size: 20px;
}

.iconText {
    color: #006f94;
}

a {
     color: inherit;
  text-decoration: none;
}
/* ========== Base ========== */
body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  color: #003242;
  background-color: #fff;
}
